@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  border: none;
  outline: none;
  font-family: "Bitter", sans-serif;
}

body {
  background-color: #FBFBFB;
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 2px 2px #32323232;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: #FBFBFB;
  z-index: 9;
}

.navbar h2 {
  font-size: 18px;
  color: #323232;
}

.navbar h2 a {
  color: inherit;
  text-decoration: none;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar nav a {
  padding: 4px;
  color: #323232;
  transition-duration: 0.2s;
}

.navbar nav a.active {
  color: #007BFF;
}

footer {
  padding: 16px;
  font-size: 16px;
  color: #FBFBFB;
  background-color: #323232;
  text-align: center;
}

.error-page {
  padding: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: auto;
}

.error-page h1 {
  color: #323232;
  font-size: 24px;
}

.error-page a {
  color: #007BFF;
}

.home-page {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: auto;
}

.home-page h1 {
  color: #323232;
  font-size: 24px;
}

.home-page p {
  color: #323232;
  max-width: 600px;
}

.home-page .btns {
  display: flex;
  align-items: center;
  gap: 12px;
}

.home-page a {
  color: #007BFF;
}

.auth-page {
  padding: 12px;
  width: 100%;
}

.auth-page form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  box-shadow: 0px 0px 2px 2px #32323232;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.auth-page .input-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.auth-page .input-group label {
  font-size: 14px;
  color: #323232;
}

.auth-page .input-group input {
  font-size: 15px;
  color: #323232;
  padding: 8px;
  border: 1px solid #32323232;
}

.auth-page .input-group input:focus {
  outline: 1px solid #323232;
}

.auth-page button {
  padding: 8px;
  background-color: #007BFF;
  color: #FBFBFB;
  font-size: 15px;
  cursor: pointer;
}

.auth-page a {
  color: #323232;
  text-decoration: none;
  font-size: 14px;
}